@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.info-bar {
  background-color: black;
  color: white;
  padding: .75rem 0;
}

.fas {
  margin: 0 .5rem; 
}

